/* Font Import: Importing fonts from Google Fonts for custom typography.*/
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  /*  Resetting Default Styles: Resetting default margin and padding to ensure consistency.*/ * {
  margin: 0;
  padding: 0;
  color: #fff;
}

/* Header Styling: Styling for the header section, including background image and dimensions.*/
header {
  background: url(resources/images/Header-Background.png) center/cover no-repeat;
  height: 100vh;
  width: 100%;
}

/* Navigation Styling: Styling for the navigation bar, including background color and dimensions.*/
nav {
  background-color: #00000025;
  height: 6.256rem;
  width: 100%;
}

/* Heading Styling: Styling for the main heading, including font size, position, and font family. */
h1 {
  position: absolute;
  font-size: 2rem;
  left: 2%;
  transform: translateY(50%);
  display: inline;
  font-size: 2rem;
  font-family: "Oleo Script", system-ui;
}

/*  Black Background Styling: Styling for a section with a black background, including dimensions, background color, and margin.*/
.black-bckg {
  height: 20rem;
  max-width: 50rem;
  background-color: #00000081;
  margin: 4rem auto auto 7rem;
  font-family: 'Open Sans', sans-serif;
}

/* Black Background Content Styling: Styling for content inside the black background section, including text size.*/
.blackbckg-content > h2 {
  font-size: 3rem;
  font-weight: 575;
}

/* Black Background Content Positioning: Positioning for content inside the black background section.*/
.blackbckg-content {
  transform: translateY(20%);
  margin-left: 1rem;
}

/* Styling for paragraphs within elements with class .blackbckg-content */
.blackbckg-content > p {
  margin: 3rem auto;
}

/* Styles for buttons */
button {
  background-color: #365486;
  width: 6.5rem;
  border: none;
  border-radius: 15%;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

/* Styles for button hover state */
button:hover {
  opacity: 0.8;
}

/* Media query for screens with width between 901px and 1080px */
@media only screen and (min-width: 901px) and (max-width: 1080px) {
  /* Styles for elements with class 'black-bckg' within this media query */
  .black-bckg {
    margin: 4rem auto;
  }
}

/* Media query for screens with width between 600px and 900px */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  /* Styles for elements with class 'black-bckg' within this media query */
  .black-bckg {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* Styles for 'h2' elements within elements with class 'blackbckg-content' within this media query */
  .blackbckg-content > h2 {
    font-size: 2.5rem;
  }
}

/* Media query for screens with width between 425px and 599px */
@media only screen and (min-width: 425px) and (max-width: 599px) {
  /* Styles for elements with class 'black-bckg' within this media query */
  .black-bckg {
    max-width: 24rem;
    height: 23rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* Styles for 'h1' elements within this media query */
  h1 {
    font-size: 1.5rem;
    top: 0.7%;
  }

  /* Styles for 'nav' elements within this media query */
  nav {
    height: 4rem;
  }

  /* Styles for 'h2' elements within elements with class 'blackbckg-content' within this media query */
  .blackbckg-content > h2 {
    font-size: 2rem;
  }
}

/* Media query for screens with width between 325px and 424px */
@media only screen and (min-width: 325px) and (max-width: 424px) {
  /* Styles for 'nav' elements within this media query */
  nav {
    height: 4rem;
  }

  /* Styles for elements with class 'black-bckg' within this media query */
  .black-bckg {
    max-width: 15rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* Styles for 'h1' elements within this media query */
  h1 {
    font-size: 1.5rem;
    top: 0.7%;
  }

  /* Styles for 'p' elements within this media query */
  p {
    font-size: 0.8rem;
  }

  /* Styles for 'h2' elements within elements with class 'blackbckg-content' within this media query */
  .blackbckg-content > h2 {
    font-size: 1.5rem;
  }

  /* Styles for 'p' elements within elements with class 'blackbckg-content' within this media query */
  .blackbckg-content > p {
    font-size: 1rem;
  }
}
