@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto:wght@100;400&display=swap');

header {
    display: flex;
    width: fit-content;
    margin-top: 0.9rem;
    margin-left: 0.9rem
}

ul  {
    display: flex;
     justify-content: flex-end;
    list-style: none;
}

li {
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

.carousel-slides{
    max-width: 1391px;
    margin: 3rem auto;
}

.carousel-item > img {
    max-height: 580px;
    max-width: 1391px;
}