/* Styles for class 'locations' */
.locations {
  background-color: rgb(28, 31, 34);
  height: 100vh;
  width: 100%;
}

/* Styles for class 'oleo' */
.oleo {
  text-align: center;
  font-family: "Oleo Script", system-ui;
  transform: translateY(50%);
}

/* Styles for class 'header-h2' */
.header-h2 {
  font-size: 1.5rem;
}

/* Styles for class 'location-images' */
.location-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

/* Styles for class 'image-container' */
.image-container {
  position: relative;
  height: 450px;
  width: 265.5px;
}

/* Styles for class 'image-info-container' */
.image-info-container {
  position: absolute;
  background-color: #00000092;
  bottom: 0;
  height: 35%;
  width: 100%;
}

/* Styles for 'h4' elements */
h4 {
  font-family: "Oleo Script", system-ui;
}

h6 {
  margin-top: 8%;
  font-family: 'Open Sans', sans-serif;
}

/* Styles for 'p' elements */
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 0.75rem;
}

/* Styles for class 'image-text' */
.image-text {
  margin: 0.5rem;
}
